<mat-toolbar color="primary">
  <mat-toolbar-row [class.add-top]='bClickInputAdd'>
    <mat-form-field>

      <button matPrefix mat-button *ngIf="sNewTask" matSuffix mat-icon-button aria-label="Clear" (click)="sNewTask=''">
        <mat-icon>close</mat-icon>
      </button>

      <input matInput type="text" placeholder="Add new task" [(ngModel)]="sNewTask" (click)="bClickInputAdd=true">

      <button matSuffix mat-button (click)='addNewTask()'>save</button>

    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>
  <ng-container *ngFor="let sTask of asTasks; let i = index">
    <mat-list-item>
      <mat-icon matTooltip="Remove task" matTooltipClass="tooltip-red" (click)="removeTask(sTask)">delete</mat-icon>
      {{i+1}}
      {{sTask }}

    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>


<router-outlet></router-outlet>
